.css-480o17-MuiGrid-root {
    width: 100% !important;
    margin-left: 2px !important;
}

.css-480o17-MuiGrid-root>.MuiGrid-item {
    display: flex !important;
    padding-left: 145px !important;
}

.css-480o17-MuiGrid-root>.MuiGrid-item {
    min-width: 100% !important;
}

.css-h8m1q6 {
    /* margin-top: 64px; */
    /* margin-left: 20px; */
    width: 78% !important;
}

.css-h8m1q6 {
    margin-top: 0px !important; 
}

.css-0 {
    margin-top: 4%;
    margin-right: 50px;
}