.topicRegistation{
    display: flex;
    width: 100%;
    position: relative;
    left: 20rem;
}
.Box1r{
    margin-top: 0;
    padding-left: 0px !important;
}
// .css-1osj8n2-MuiGrid-root {
//     max-width: 100% !important;
//     margin-bottom: 5px !important;
// }